.sec-predict-container {
    display: flex;
    flex-direction: column;
    padding-top: 75px;
  }
  
  .sec-predict-container > * {
    width: 100%;
  }

  agm-map {
    height: 300px;
  }
  .mat-table {
    width: 100%;
  }