<div class="wrapper">
  <div class="section sec-predict-content">
    <div class="container">
      <div class="sec-predict-container">
        <h3>
          Predict Chance of Admission to Secondary Schools
        </h3>
        <!--
        <div class="row">
          <mat-form-field class="col-lg-6 col-md-12 col-12">
            <input type="text" placeholder="Your Primary School Name" aria-label="Number" matInput
              [formControl]="primarySchoolCtrl" [matAutocomplete]="auto">
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
              <mat-option *ngFor="let option of primaryFilteredOptions | async" [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <mat-form-field class="form-group col-lg-6 col-md-12 col-12">
            <mat-select [formControl]="gradetermCtrl" placeholder="Grade and Term">
              <mat-option *ngFor="let gradeterm of gradeterms" [value]="gradeterm" required>
                {{ gradeterm.display }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field class="form-group col-lg-3 col-md-6 col-6">
            <input matInput class="form-control" placeholder="Math" [formControl]="mathCtrl" type="number" required
              min="0" max="100">
          </mat-form-field>
          <mat-form-field class="form-group col-lg-3 col-md-6 col-6">
            <input matInput class="form-control" placeholder="Science" [formControl]="scienceCtrl" type="number"
              required min="0" max="100">
          </mat-form-field>
          <mat-form-field class="form-group col-lg-3 col-md-6 col-6">
            <input matInput class="form-control" placeholder="English" [formControl]="engCtrl" type="number" required
              min="0" max="100">
          </mat-form-field>
          <mat-form-field class="form-group col-lg-3 col-md-6 col-6">
            <input matInput class="form-control" placeholder="Mother Tongue" [formControl]="mtCtrl" type="number"
              required min="0" max="100">
          </mat-form-field>
        </div>
        -->
        <div class="row">
          <table mat-table [dataSource]="tableSource" class="mat-table mat-elevation-z8">
            <!-- grade Column -->
            <ng-container matColumnDef="grade">
              <th mat-header-cell *matHeaderCellDef> Grade and Term </th>
              <td mat-cell *matCellDef="let element"> P{{element.grade}} {{element.term}} </td>
            </ng-container>

            <!-- math Column -->
            <ng-container matColumnDef="math">
              <th mat-header-cell *matHeaderCellDef> Math </th>
              <td mat-cell *matCellDef="let element"> {{element.math}} </td>
            </ng-container>

            <!-- science Column -->
            <ng-container matColumnDef="science">
              <th mat-header-cell *matHeaderCellDef> Science </th>
              <td mat-cell *matCellDef="let element"> {{element.science}} </td>
            </ng-container>

            <!-- eng Column -->
            <ng-container matColumnDef="eng">
              <th mat-header-cell *matHeaderCellDef> English </th>
              <td mat-cell *matCellDef="let element"> {{element.eng}} </td>
            </ng-container>

            <!-- mt Column -->
            <ng-container matColumnDef="mt">
              <th mat-header-cell *matHeaderCellDef> Mother Tougue </th>
              <td mat-cell *matCellDef="let element"> {{element.mt}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
        <br />
        <div class="row">
          <mat-form-field class="col-lg-6 col-md-12 col-12">
            <input matInput placeholder="Primary School" disabled [(ngModel)]="user.school">
          </mat-form-field>
          <mat-form-field class="col-lg-6 col-md-12 col-12">
            <input matInput placeholder="Predicted Score" disabled [(ngModel)]="score">
          </mat-form-field>
        </div>
        <br />
        <mat-divider></mat-divider>
        <br />
        <div class="row">
          <mat-form-field class="col-lg-6 col-md-12 col-12">
            <input type="text" placeholder="Enter Your Secondary School Name" type="text" matInput
              [formControl]="secondarySchoolCtrl" [matAutocomplete]="auto" #search>
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
              <mat-option *ngFor="let option of secondaryFilteredOptions | async" [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <div class="container session col-lg-3 col-md-6 col-6">
            <mat-bar-button [options]="queryButtonOptions" (btnClick)="query()">
            </mat-bar-button>
          </div>
          <div class="container session col-lg-3 col-md-6 col-6">
            <button mat-raised-button color="warn" (click)="reset()">Reset Map</button>
          </div>
        </div>
        <div class="section" style="padding-bottom: 40px;" id="map">
          <div class="container">
            <agm-map [latitude]="lat" [zoom]="zoom" [longitude]="lng" [streetViewControl]="false">
              <agm-marker *ngFor="let marker of markers" (markerClick)="openWindow(marker.id)" [latitude]="marker.lat"
                [longitude]="marker.lng">
                <agm-info-window [isOpen]="isInfoWindowOpen(marker.id)" [latitude]="marker.lat"
                  [longitude]="marker.lng">{{marker.sec_sch_name}}<br>Chance: {{marker.chance}}%</agm-info-window>
              </agm-marker>
            </agm-map>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>