<div class="wrapper">
    <br />
    <div class="section" style="padding-bottom: 40px;">
  
      <div class="container">
  
        <div class="content-center">
  
          <br />
          <mat-card class="instruction-card">
            <mat-card-content>
              <li style="font-weight: 500">
                Using your one of the social logins
              </li>
              <button mat-raised-button color="primary" style='width: 60%; position: relative;margin: 20px 20px; '
              class="btn googleBtn" (click)="authService.FacebookAuth()"
              >
              Facebook
              </button>
              <button mat-raised-button color="warn" style='width: 60%; position: relative;margin: 20px 20px;'
              class="btn facebookBtn" (click)="authService.GoogleAuth()"
              >
              Google
              </button>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
  
    </div>
  </div>