.displayTable .btn {
    width: 100%;
    border: none;
    font-size: 16px;
    font-weight: 600;
    padding: 15px 0;
    background: #15CD72;
    color: #ffffff;
    cursor: pointer;
    outline: none;
  }
  
  .displayTable .btn:hover {
    opacity: .88;
  }
  .displayTable .googleBtn {
    background: #eb5e4c;
  }
  
  .displayTable .facebookBtn {
    background: #5d82d1;
  }