<nav class="navbar navbar-expand-lg fixed-top navbar-transparent" color-on-scroll="500">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" href="https://www.sgdatascience.com">Education Intelligence</a>
            <button class="navbar-toggler navbar-burger" type="button" data-toggle="collapse"
                data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                aria-label="Toggle navigation" (click)="sidebarToggle()">
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <button class="menuBtn" mat-raised-button *ngIf="authService.isLoggedIn" routerLink="/navigator">
                        Home
                    </button>
                </li>
                <li class="nav-item">
                    <button class="menuBtn" mat-raised-button *ngIf="authService.isLoggedIn" routerLink="/profile">
                        Profile
                    </button>
                </li>
                <!--
                <li class="nav-item">
                    <button class="menuBtn" mat-raised-button *ngIf="authService.isLoggedIn"
                        (click)="authService.SignOut()">
                        Sign Out
                    </button>
                </li>
                -->
                <li class="nav-item">
                        <button mat-raised-button *ngIf="!authService.isLoggedIn" routerLink="/navigator">Home</button>
                </li>
                <li class="nav-item">
                    <button mat-raised-button *ngIf="!authService.isLoggedIn" routerLink="/sign-in">Sign In/Up</button>
                </li>
                <li class="nav-item">
                    <button [matMenuTriggerFor]="profile" mat-icon-button class="m-r-5" *ngIf="authService.isLoggedIn"
                        style="color: black;">
                        <img src="{{authService.userInfo.photoURL}}" alt="" class="profile-pic">
                        {{authService.userInfo.displayName}}
                    </button>
                    <mat-menu #profile="matMenu">
                        <button mat-menu-item routerLink="/profile">
                            <mat-icon>account_box</mat-icon> Profile
                        </button>
                        <button mat-menu-item (click)="authService.SignOut()">
                            <mat-icon>exit_to_app</mat-icon> Sign Out
                        </button>
                    </mat-menu>
                </li>


            </ul>
        </div>
    </div>
</nav>