.profile-pic{
    width: 40px;
    height: 100%;
    border-radius: 100%;
}
.m-r-5 {
    margin-right: 5px;
}

.navbar-brand{
    font-size: 17px
}

.menuBtn{
    height: 100%;
    width: 90px;
    text-align: center;
}

.navbar-nav > li{
    margin-left:15px;
    margin-right:7px;
    margin-top:7px;
    margin-bottom:7px;
}

.mat-menu-content:not(:empty) {
    padding-top: 20px;
    padding-bottom: 8px;
}
.fixed-top {
    z-index: 999;
}