<div class="wrapper">
  <div class="section sec-posting-content">
    <div class="container">
      <div class="sec-posting-container">
        <h3>
          Chance of Admission to Secondary Schools From PSLE Score
        </h3>
        <br />
        <div class="row">
          <mat-form-field class="col-lg-6 col-md-12 col-12">
            <input matInput placeholder="PSLE Score" [(ngModel)]="score" required>
          </mat-form-field>
          <mat-form-field class="col-lg-6 col-md-12 col-12">
            <mat-label>Gender</mat-label>
            <mat-select [(value)]="selectedGender" required>
              <mat-option value="boys">Male</mat-option>
              <mat-option value="girls">Female</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <br />
        <mat-divider></mat-divider>
        <div class="section" style="padding-bottom: 40px;" id="map">
          <div class="container">
            <mat-card class="map-card">
              <mat-card-header>
                <div mat-card-avatar class="map-avatar-image"></div>
                <mat-card-title>Enter your Postal Code to Locate Nearby Secondary Schools</mat-card-title>
                <mat-card-subtitle>
                  <div class="form-group">
                    <input type="text" class="form-control" (keydown.enter)="$event.preventDefault()"
                      placeholder="Search Nearest Location" autocorrect="off" autocapitalize="off" spellcheck="off"
                      type="text" #search>
                      <br />
                      <mat-bar-button [hidden]="!isValidCode" [options]="postalcodeButtonOptions" (btnClick)="postalCodeSet()">
                    </mat-bar-button>
                  </div>
                </mat-card-subtitle>
              </mat-card-header>
              <agm-map [latitude]="lat" [zoom]="zoom" [longitude]="lng" [streetViewControl]="false">
                  <agm-marker *ngFor="let marker of markers" 
                  (markerClick)="openWindow(marker.id)" 
                  [latitude]="marker.lat" 
                  [longitude]="marker.lng"
                  [label]="{text: marker.label, color: '#ffffff',fontWeight: 'bold'}"
                  >
                  <agm-info-window 
                    [isOpen]="isInfoWindowOpen(marker.id)"
                    [latitude]="marker.lat" 
                    [longitude]="marker.lng">{{marker.sec_sch_name}}<br>Chance: {{marker.chance}}%</agm-info-window>
                </agm-marker>
              </agm-map>
            </mat-card>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>