<div class="wrapper">
  <div class="section profile-content">
    <div class="container">
      <div class="profile-container">
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Basic
              </mat-panel-title>
              <mat-panel-description>
                Your School Name and Home Postal Code
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-form-field class="col-lg-6 col-md-12 col-12">
              <input matInput placeholder="User Account" disabled [(ngModel)]="user.email">
            </mat-form-field>

            <mat-form-field class="col-lg-6 col-md-12 col-12">
              <input matInput placeholder="Home Postal Code" [(ngModel)]="user.postalCode">
            </mat-form-field>

            <mat-form-field class="col-lg-6 col-md-12 col-12">
              <input type="text" placeholder="Your Primary School Name" aria-label="Number" matInput
                [formControl]="primarySchoolCtrl" [matAutocomplete]="auto">
              <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                  {{option}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>


          </mat-expansion-panel>
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Your Scores
              </mat-panel-title>
              <mat-panel-description>
                Your Score Records
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="row">
              <mat-form-field class="form-group col-lg-6 col-md-12 col-12">
                <mat-select [formControl]="gradetermCtrl" placeholder="Grade and Term">
                  <mat-option *ngFor="let gradeterm of gradeterms" [value]="gradeterm" required>
                    {{ gradeterm.display }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="row">
              <mat-form-field class="form-group col-lg-3 col-md-6 col-6">
                <input matInput class="form-control" placeholder="Math" [formControl]="mathCtrl" type="number" required
                  min="0" max="100">
              </mat-form-field>
              <mat-form-field class="form-group col-lg-3 col-md-6 col-6">
                <input matInput class="form-control" placeholder="Science" [formControl]="scienceCtrl" type="number"
                  required min="0" max="100">
              </mat-form-field>
              <mat-form-field class="form-group col-lg-3 col-md-6 col-6">
                <input matInput class="form-control" placeholder="English" [formControl]="engCtrl" type="number"
                  required min="0" max="100">
              </mat-form-field>
              <mat-form-field class="form-group col-lg-3 col-md-6 col-6">
                <input matInput class="form-control" placeholder="Mother Tongue" [formControl]="mtCtrl" type="number"
                  required min="0" max="100">
              </mat-form-field>
              <div class="col-lg-4 col-md-12 col-12">
                <button mat-raised-button style="width: 100%" color="accent" (click)="addScore()">Add to List</button>
              </div>
            </div>
            <br />
            <table mat-table [dataSource]="tableSource" class="mat-table mat-elevation-z8">
              <!-- grade Column -->
              <ng-container matColumnDef="grade">
                <th mat-header-cell *matHeaderCellDef> Grade and Term </th>
                <td mat-cell *matCellDef="let element"> P{{element.grade}} {{element.term}} </td>
              </ng-container>

              <!-- math Column -->
              <ng-container matColumnDef="math">
                <th mat-header-cell *matHeaderCellDef> Math </th>
                <td mat-cell *matCellDef="let element"> {{element.math}} </td>
              </ng-container>

              <!-- science Column -->
              <ng-container matColumnDef="science">
                <th mat-header-cell *matHeaderCellDef> Science </th>
                <td mat-cell *matCellDef="let element"> {{element.science}} </td>
              </ng-container>

              <!-- eng Column -->
              <ng-container matColumnDef="eng">
                <th mat-header-cell *matHeaderCellDef> English </th>
                <td mat-cell *matCellDef="let element"> {{element.eng}} </td>
              </ng-container>

              <!-- mt Column -->
              <ng-container matColumnDef="mt">
                <th mat-header-cell *matHeaderCellDef> Mother Tougue </th>
                <td mat-cell *matCellDef="let element"> {{element.mt}} </td>
              </ng-container>

              <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> Actions </th>
                <td mat-cell *matCellDef="let i = index">
                  <button mat-raised-button color="warn" (click)="deleteRow(i)">Remove</button>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </mat-expansion-panel>
        </mat-accordion>
        <div class="container session col-lg-12 col-md-12 col-12" style="padding-top: 30px">
          <mat-bar-button [options]="saveButtonOptions" (btnClick)="saveChanges()">
          </mat-bar-button>
        </div>

      </div>
    </div>
  </div>
</div>