<div class="wrapper">
  <br />
  <div class="section" style="padding-bottom: 10px;">

    <div class="container">

      <div class="content-center">

        <br />
        <mat-card class="instruction-card">
          <mat-card-header>
            <mat-card-title>Navigation Page</mat-card-title>
          </mat-card-header>
          <mat-card-content>
          </mat-card-content>
          <mat-card-actions>

          </mat-card-actions>
        </mat-card>
        <mat-divider></mat-divider>

      </div>
    </div>

  </div>
  <div class="section" style="padding: 30px;">

    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-12 col-12">
          <mat-card class="nav-card">
            <mat-card-header>
              <mat-card-title>PLSE Score Prediction</mat-card-title>
              <mat-card-subtitle>Public(3 Times Only) / Member</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p>
                Predicts your future PSLE aggregate score by comparing your Semestal Assessment performance with your cohorts.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button color="primary" routerLink="/psle-predict">Enter</button>
            </mat-card-actions>
          </mat-card>
        </div>
        <mat-divider></mat-divider>
        <div class="col-lg-3 col-md-12 col-12">
          <mat-card class="nav-card">
            <mat-card-header>
              <mat-card-title>Predict Secondary School Adminssion</mat-card-title>
              <mat-card-subtitle>Member Only - Free</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p>
                Predict Your Chance of Admission to Secondary Schools from P5/P6 scores.
                <br />
                <br />
                <br />
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button color="primary" routerLink="/sec-predict">Enter</button>
            </mat-card-actions>
          </mat-card>
        </div>
        <mat-divider></mat-divider>
        <div class="col-lg-3 col-md-12 col-12">
          <mat-card class="nav-card">
            <mat-card-header>
              <mat-card-title>Secondary School Posting Advisor</mat-card-title>
              <mat-card-subtitle>Member Only - Free</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p>
                Recommendations for Secondary Schools Based on PSLE score.
                <br />
                <br />
                <br />
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button color="primary" routerLink="/sec-posting">Enter</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </div>
    

  </div>
</div>