<div class="wrapper">

  <!--
        <div class="row">
            <div class="content-center">
                <div class="container">
                    <div class="title-brand">
                        <h1 class="presentation-title">What Will Be My T-Score</h1>

                    </div>
                    <h2 class="presentation-subtitle text-center">Try a Statistical Estimation</h2>
                    <br />
                    <br />
                    <div class="col text-center">
                        <button type="button" (click)="scrollDown()" class="btn btn-outline-light">
                            <span class="fa fa-angle-double-down" style="font-size:24px"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        -->
  <br />
  <div class="section" style="padding-bottom: 40px;">

    <div class="container">

      <div class="content-center">

        <br />
        <mat-card class="instruction-card">
          <mat-card-header>
            <mat-card-title>Introduction</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <li style="font-weight: 500">
              PSLE score prediction is a data science model developed by sgdatascience group.This
              model predicts your future PSLE aggregate score by comparing your Semestal Assessment
              performance with your cohorts.
            </li>
            <li style="font-weight: 500">
              To start, type in your most recent exam scores, followed by your primary school name.
            </li>
          </mat-card-content>
          <mat-card-actions>

          </mat-card-actions>
        </mat-card>
        <br />
        <mat-divider></mat-divider>

      </div>
    </div>

  </div>


  <div class="main" id="datainput">

    <div class="container" style="font-weight: 500">
      <mat-horizontal-stepper [linear]="isLinear" #stepper>
        <mat-step [stepControl]="scoreFormGroup">
          <form [formGroup]="scoreFormGroup">
            <div formArrayName="scores">
              <div *ngFor="let scoreSet of scoreFormGroup['controls'].scores['controls']; let i=index"
                class="panel panel-default">
                <div class="position: relative;">
                  <span stystyle="color:black; font-size:20px">Please Input Your Recent Exam
                    Score</span>
                  <button mat-button *ngIf="scoreFormGroup['controls'].scores['controls'].length > 1"
                    (click)="removeScoreSet(i)" type="button">
                    <i class="material-icons button"> delete</i>
                  </button>
                </div>
                <ng-template matStepLabel>Scores</ng-template>
                <!--<div class="row"><br/></div>-->
                <div class="row">
                  <mat-form-field [formGroupName]="i" class="form-group col-lg-6 col-md-12 col-12">
                    <mat-select formControlName="gradeterm" placeholder="Grade and Term">
                      <mat-option *ngFor="let gradeterm of gradeterms" [value]="gradeterm" required>
                        {{ gradeterm.display }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="row">
                  <mat-form-field [formGroupName]="i" class="form-group col-lg-3 col-md-6 col-6">
                    <input matInput class="form-control" placeholder="Math" formControlName="math" type="number"
                      required min="0" max="100">
                  </mat-form-field>
                  <mat-form-field [formGroupName]="i" class="form-group col-lg-3 col-md-6 col-6">
                    <input matInput class="form-control" placeholder="Science" formControlName="science" type="number"
                      required min="0" max="100">
                  </mat-form-field>
                  <mat-form-field [formGroupName]="i" class="form-group col-lg-3 col-md-6 col-6">
                    <input matInput class="form-control" placeholder="English" formControlName="eng" type="number"
                      required min="0" max="100">
                  </mat-form-field>
                  <mat-form-field [formGroupName]="i" class="form-group col-lg-3 col-md-6 col-6">
                    <input matInput class="form-control" placeholder="Mother Tongue" formControlName="mt" type="number"
                      required min="0" max="100">
                  </mat-form-field>
                </div>


              </div>
              <div class="row">
                <div>
                  <button mat-raised-button matStepperNext color="primary" type="submit">Next</button>
                </div>
                <div>
                  <button mat-button color="accent" (click)="addNewScoreSet()" type="button">Or More Scores</button>
                </div>
              </div>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="schoolFormGroup">
          <form [formGroup]="schoolFormGroup">
            <ng-template matStepLabel>School</ng-template>
            <mat-form-field class="col-lg-8">
              <input type="text" placeholder="Search By School Name" aria-label="Number" matInput
                formControlName="schoolName" [matAutocomplete]="auto">
              <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                  {{option}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
            <div>
              <button mat-button matStepperPrevious type="button">Back</button>
              <button mat-raised-button matStepperNext color="primary" (click)="checkResult()"
                type="submit">Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Result</ng-template>
          <mat-card>
            <mat-card-content style="justify-content: center;text-align: -webkit-center;">
              <mat-progress-spinner [color]="spinnerColor" [mode]="spinnerMode" [value]="spinnerValue"
                [hidden]="!spinnerLoading">
              </mat-progress-spinner>
              <div id="collapseExample" [hidden]="isCollapsed">
                <div class="card text-center">
                  <div class="card-body">
                    <h3 class="card-title">Your Predicted PSLE Score is:</h3>
                    <h3 class="card-subtitle mb-2 text-muted"></h3>
                    <p class="card-text" style="font-size: 30px">{{score}}</p>
                    <h3 class="card-subtitle mb-2 text-muted">Your Score is Higher Than
                      {{percent}}% of Students.</h3>
                      <div class="col text-center">
                          <h3 class="card-subtitle mb-4 text-muted">Scroll Down to See your Chances of Admission into Nearby Secondary Schools</h3>
                          <button type="button" (click)="scrollDown()" mat-button>
                              <span class="fa fa-angle-double-down" style="font-size:24px; color:darkblue"></span>
                          </button>
                      </div>
                  </div>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
          <div>
            <button mat-button matStepperPrevious type="button">Back</button>
            <button mat-raised-button color="warn" (click)="stepper.reset()" type="submit">Reset</button>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
      <mat-divider></mat-divider>
    </div>

  </div>
  <div class="section" style="padding-bottom: 40px;" id="map" [hidden]="!isShowMap">
    <div class="container">
      <mat-card class="map-card">
        <mat-card-header>
          <div mat-card-avatar class="map-avatar-image"></div>
          <mat-card-title>Enter your Postal Code to Locate Nearby Secondary Schools</mat-card-title>
          <mat-card-subtitle>
            <div class="form-group">
              <input type="text" class="form-control" (keydown.enter)="$event.preventDefault()"
                placeholder="Search Nearest Location" autocorrect="off" autocapitalize="off" spellcheck="off"
                type="text" #search>
                <br />
                <mat-bar-button [hidden]="!isValidCode" [options]="postalcodeButtonOptions" (btnClick)="postalCodeSet()">
              </mat-bar-button>
            </div>
          </mat-card-subtitle>
        </mat-card-header>
        <agm-map [latitude]="lat" [zoom]="zoom" [longitude]="lng" [streetViewControl]="false">
            <agm-marker *ngFor="let marker of markers" 
            (markerClick)="openWindow(marker.id)" 
            [latitude]="marker.lat" 
            [longitude]="marker.lng"
            >
            <agm-info-window 
              [isOpen]="isInfoWindowOpen(marker.id)"
              [latitude]="marker.lat" 
              [longitude]="marker.lng">{{marker.sec_sch_name}}<br>Chance: {{marker.chance}}%</agm-info-window>
          </agm-marker>
        </agm-map>
        <mat-card-content>
          <br />
          Interested to know your chance for other schools? Sign up to see more.
        </mat-card-content>
        <mat-card-actions>
          <button mat-flat-button color="primary" routerLink="/sign-in">Sign In/Up</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>