<footer class="footer">
    <div class="container">
        <div class="row">
            <nav class="footer-nav">
                <button mat-flat-button (click)="openDisclaimer()">Disclaimer</button>
            </nav>
            <nav class="footer-nav">
                <button mat-flat-button (click)="openAboutUs()">About Us</button>
            </nav>
            <nav class="footer-nav">
                <button mat-flat-button (click)="mailWithLocation()">Contact Us</button>
            </nav>
            <nav class="footer-nav">
                <button mat-flat-button routerLink="/privacy-policy">Privacy Policy</button>
            </nav>
            <nav class="footer-nav">
                <button mat-flat-button routerLink="/terms-of-service">Terms of Service</button>
            </nav>
            <div class="credits ml-auto">
                <span class="copyright">
                    © {{test | date: 'yyyy'}} SGDATASCIENCE
                </span>
            </div>
        </div>
    </div>
</footer>